

:root{
    --primaryBackgroundColorDark: #141C2F;
    --secondaryBackgroundColorDark: #1F2A48;
    --buttonBackgroundColor: #0278FC;
    --mainTextColorDark: #FFFFFF;
    --primaryTextColorDark: #8F95A9;
    --primaryLinkColorDark: #2C8EFF;
    --border-styleDark: none;

    --primaryBackgroundColorLight:  #F6F8FA;
    --secondaryBackgroundColorLight: #FFFFFF; 
    --mainTextColorLight: #1F2A48;
    --border-styleLight: 1px solid #D0D7DE;
}

.dark {
    --bg: var(--primaryBackgroundColorDark);
    --secondaryBg: var(--secondaryBackgroundColorDark);
    --textColor: var(--mainTextColorDark);
    --secondaryTextColor: var(--primaryTextColorDark);
    --border-style: var(--border-styleDark);
}

.light {
    --bg: var(--primaryBackgroundColorLight);
    --secondaryBg: var(--secondaryBackgroundColorLight);
    --textColor: var(--mainTextColorLight);
    --secondaryTextColor: var(--primaryTextColorLight);
    --border-style: var(--border-styleLight);
}

*{
    padding: 0;
    margin: 0;
    transition: all 200ms ease;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
    font-family: "Consolas";

}

.main {
    width: max-content;
}

.main .container{
    width: max-content;
}

.main .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.main .container form {
    background-color: var(--secondaryBg);
    border: var(--border-style);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 10px;
}

.main .container form img {
    justify-self: flex-start;
}

.main .container form input[type="text"]{
    background: transparent;
    outline: none;
    border: none;
    width: 300px;
    color: var(--textColor);
    font-family: Consolas;
    font-size: 16px;
    margin-left: 10px;
}
.main .container form input[type="button"] {
    background: var(--buttonBackgroundColor);
    color: white;
    padding: 10px 15px;
    margin-left: auto;
    border: none;
    font-family: Consolas;
    letter-spacing: 2.5%;
    font-size: 1rem;
    font-weight: bold;
    border-radius:8px ;
}

.main .result {
    background: var(--secondaryBg);
    border: var(--border-style);
    padding: 25px;
    margin-top: 20px;
    border-radius: 10px;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "img userName joinedDate"
    "img userBio  userBio"
    "img userProfileInfo userProfileInfo"
    "img userLink userLink";

    grid-template-columns: max-content min-content 400px;
    grid-template-rows: max-content max-content 1fr auto;

    grid-gap: 20px;

    color: #E0E7F2;
}

.main .result .userIcon{
    grid-area: img;
}

.main .result .userIcon img {
    width: 100px;
    height: 100px;
}

.main .result .skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0%{
        background-color: hsl(200, 20%, 70%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
    
}

.main .result .userIcon img {
    border-radius: 100%;
    width: 100px;
}

.main .result .userName {
    grid-area: userName;
    justify-self: start;
    width: max-content;
    font-family: Consolas;
    font-weight: normal;
    color: var(--textColor);
}

.main .result .userName a {
    color: var(--primaryLinkColorDark);
    text-decoration: none;
}

.main .result .userBio {
    width: 100%;
    word-wrap:break-word;
    grid-area: userBio;
    color: var(--primaryTextColorDark);
}

.main .result .userJoinedDate{
    grid-area: joinedDate;
    justify-self: end;

    color: var(--primaryTextColorDark);
}

.main .result .userProfileInfo{
    grid-area: userProfileInfo;
    background: var(--bg);
    border: var(--border-style);
    display: flex;
    padding: 20px;
    border-radius: 7px;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.3rem;
}

.main .result .userProfileInfo p:nth-child(2){
    color: var(--textColor);
}

.main .result .userProfileInfo p:nth-child(1){
    font-size: 1rem;
    color: var(--primaryTextColorDark);
    margin-bottom: 4px;
}


.main .result .userLinks{
    grid-area: userLink;
    display: grid;
    grid-template-areas: 
    "link address"
    "otherLink school";
    grid-template-columns: repeat(2, 1fr );
    grid-template-rows: repeat(2, 1fr );
    color: var(--primaryTextColorDark);
}
.main .result .userLinks a{
    text-decoration: none;
    color: var(--primaryTextColorDark);
}

.main .result .userLinks div .svg {
    margin: 10px;
    display: grid;
    place-items: center;
}

svg path {
    fill:var(--textColor) ;
}

.main .result .userLinks .display{
    display: flex;
    align-items: center;
}

.main .result .userLinks .userPortfolioLink {
    grid-area: link;
    
}

/* Toggle switch css */

.changeThemeSwitch{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.changeThemeSwitch p {
    color: var(--textColor);
}

/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
    margin: auto 20px;
   }
   
   /* Hide default HTML checkbox */
   .switch input {
    opacity: 0;
    width: 0;
    height: 0;
   }
   
   /* The slider */
   .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 30px;
   }
   
   .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    background-color: white;
    transition: .4s;
   }
   
   input:checked + .slider {
    background-color: #2196F3;
   }
   
   input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
   }
   
   input:checked + .slider:before {
    transform: translateX(1.5em);
   }